:root {
  --main-bg-color: #ffffff;
  --main-primary-color: #000000;
  --glow-color: #5d7295;
  --max-body-width: 864px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 'medium';
}

.name {
  font-size: 1.9rem;
}

body {
  max-width: var(--max-body-width);
  margin: auto;
  font-size: 1.1rem;
  padding: 20px;
}

.outer-container > div {
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-list {
  margin-top: 5px;
  display: flex;
  gap: 14px;
}

.header-list img {
  width: 30px;
  height: 30px;
}

.link {
  font-weight: bold;
  text-decoration: underline;
  color: var(--main-primary-color);
}

.p-link {
  font-weight: normal;
}

.project {
  margin-bottom: 200px;
}

.project > .link {
  font-size: 1.3rem;
}

.resume-button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--main-primary-color);
  color: var(--main-bg-color);
  border: none;
  padding: 8px 14px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.project-image {
  display: block;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--main-primary-color);
}


.link, .project-image, .button, .header-list img {
  transition: all 0.27s cubic-bezier(0.65,0.05,0.4,1);
}

.project-image:hover, .header-list img:hover {
  opacity: 60%;
}


.link:hover {
  color: var(--glow-color);
}

.button:hover {
  background-color: var(--glow-color);
}


@media screen and (min-width: 576px) {
  .project {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .project {
    width: 60%;
  }
}